USE [PBS_ODONTO]
GO
/****** Object:  Schema [LOG]    Script Date: 31/08/2018 15:34:49 ******/
CREATE SCHEMA [LOG]
GO
/****** Object:  Schema [ODONTO_MAIS]    Script Date: 31/08/2018 15:34:49 ******/
CREATE SCHEMA [ODONTO_MAIS]
GO
/****** Object:  Table [LOG].[ODONTO_MAIS]    Script Date: 31/08/2018 15:34:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOG].[ODONTO_MAIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [int] NOT NULL,
	[COD_COR] [int] NOT NULL,
	[JSON] [nvarchar](max) NULL,
 CONSTRAINT [PK_LOG_ID_ODONTO_MAIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ODONTO_MAIS].[COTACAO]    Script Date: 31/08/2018 15:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODONTO_MAIS].[COTACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[COD_COR] [int] NOT NULL,
	[STATUS] [tinyint] NULL,
	[DAT_INCLUSAO] [datetime] NOT NULL,
	[JSON] [nvarchar](max) NULL,
 CONSTRAINT [PK_ODONTO_MAIS_ID_CT_PROPOSTA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ODONTO_MAIS].[HST_COTACAO]    Script Date: 31/08/2018 15:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODONTO_MAIS].[HST_COTACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[COD_COR] [int] NOT NULL,
	[DAT_INCLUSAO] [datetime] NOT NULL,
	[JSON] [nvarchar](max) NULL,
 CONSTRAINT [PK_ODONTO_MAIS_ID_HST_PROPOSTA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ODONTO_MAIS].[PROPOSTAS]    Script Date: 31/08/2018 15:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODONTO_MAIS].[PROPOSTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [int] NOT NULL,
	[COD_COR] [int] NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[PROTOCOLO] [nvarchar](50) NOT NULL,
	[JSON] [nvarchar](max) NULL,
 CONSTRAINT [PK_ODONTO_MAIS_ID_PROPOSTA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ODONTO_MAIS].[TML_STATUS]    Script Date: 31/08/2018 15:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODONTO_MAIS].[TML_STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROPOSTA] [int] NOT NULL,
	[GUID] [int] NOT NULL,
	[PROTOCOLO] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[DAT_ATUALIZACAO] [date] NOT NULL,
 CONSTRAINT [PK_ODONTO_MAIS_ID_TL_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ODONTO_MAIS].[COTACAO] ADD  DEFAULT (getdate()) FOR [DAT_INCLUSAO]
GO
ALTER TABLE [ODONTO_MAIS].[HST_COTACAO] ADD  DEFAULT (getdate()) FOR [DAT_INCLUSAO]
GO
ALTER TABLE [ODONTO_MAIS].[TML_STATUS] ADD  DEFAULT (getdate()) FOR [DAT_ATUALIZACAO]
GO
ALTER TABLE [ODONTO_MAIS].[TML_STATUS]  WITH CHECK ADD  CONSTRAINT [FK_ODONTO_MAIS_ID_PROPOSTA_TL_STATUS] FOREIGN KEY([ID_PROPOSTA])
REFERENCES [ODONTO_MAIS].[PROPOSTAS] ([ID])
GO
ALTER TABLE [ODONTO_MAIS].[TML_STATUS] CHECK CONSTRAINT [FK_ODONTO_MAIS_ID_PROPOSTA_TL_STATUS]
GO
